body{
    background-image: url(./anh/7-1630640575-khau-pha.jpg);
}


.box{

    background-color: rgb(255, 230, 198);
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 50px 50px 50px 50px;
    margin: 100px 100px 100px 100px;
    margin-left: 375px;
}  
.sign{display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: white;
    text-decoration: none;
    color: #222222;
    }
    sign:hover {
        border-color: #000000;
        background: #f7f7f7;
    }
    .dk1{
        color:red;
    }
    .h1{
       
        color: rgb(255, 190, 201);
        justify-content: center;
        font-size: 40px;
    }
    .tes{
        font-size: 18px;
      }
      .h2{
        font-size: 22px;
      }